.nav {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 800;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px;
}
