.nav {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 550;
    position: fixed;
    width: 100vw;
    transition: .8s;
    height: 12vh;
}

.scrolled {
    background-color: rgb(186, 131, 29);
    transition: .8s;
    color: rgb(50, 49, 49);
    align-items: center;
    position: fixed;
    z-index: 100;
}

.scrolled .navlink{
    color: rgb(50, 49, 49);
}

.scrolled .list{
    margin: 0px 0.75vw;
    transition: 1s;
}   

.list {
    transition: 1s;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    text-decoration: none;
}

.list li{
    padding: 2vh;
    border-radius: 8.5%;
    cursor: pointer;
}

.navlink{
    color: rgb(169, 161, 161);
    transition: 0.5s;
}

.navlink:hover{
    background-color: rgba(51, 25, 164, 0.399);
    transition: 0.5s;
    padding: 0.7vw;
    border-radius: 6%;
}

