.mainDiv{
    color: #dfbf82;
    height: 40vh;
    padding: 0;
    margin: 0;
}

.mainDiv h1{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 4vh;
    color: whitesmoke;
}

.contactsDiv{
    display: flex;
    justify-content: space-between;
    margin: 0px 10vw;
    text-align: center;
}

.telefone{
    margin-right: 4vw;
}

.contactsDiv h2, span{
    margin: 2vh;
}

.contactsDiv h2{
    color: whitesmoke;
}

