.mainDiv{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mainDiv img{
    width: 30%;
    height: 70vh;
    padding-left: 3vw;
    padding-right: 5vw;
}

.msgCont {
    padding: auto;
    margin: 0px;
    height: 70vh;
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    width: 70%;
    color: rgb(223, 191, 130);
    word-wrap: break-word;
}

.msgCont h2{
    font-size: 1.81vw;
    height: 3vh;
    padding-right: 3vw;
    padding-bottom: 5vh;
}

.list {
    margin: 0;
    padding-left: 1vw;
}

.list li {
    align-items: center;
    padding: 1vh 2vw 3.5vh 0px;
    font-size: 1.5vw;
}

.socialLinks{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

.socialLinks ul{
    justify-content: space-between;
}

.socialLinks img{
    padding-left: 0px;
    padding-right: 3vw;
    height: auto;
    width: auto;
}
