.mainDiv{
    padding: 0px;
    padding-top: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.mainDiv img{
    background-color: rgb(172, 131, 26);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease, background-color .6s ease;
}

.mainDiv img:hover{
    background-color: darkblue;
    cursor: pointer;
    transition: background-color .6s ease;
}

.img{
    padding-bottom: 60px;
}


.mainDiv h3,
.mainDiv h1 {
    margin: 0px;
    font-size: 35px;
}

.mainDiv h3{
    color: rgb(118, 99, 73);
}

.mainDiv h1{
    color: rgb(108, 101, 93);
    font-weight: 1000;
    font-size: xx-large;
    padding: 30px 0px;
    text-transform: uppercase;
}