.mainDiv{
    height: 100vh;
    padding-top: 12vh;
    padding-right: 2vw;
    padding-left: 2vw;
}

.title{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    color: rgb(197, 149, 28);
}
.title h1, h3{
    margin: 1.5vh;
}

.title h3{
    padding-bottom: 2.5vh;
}

.projectsDiv{
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.projectsDiv img{
    height: 60vh;
    width: 28vw;
    position: relative;
}

.img1, .img2, .img3{
    position: relative;
}

.overlay1, .overlay2, .overlay3{
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    color: rgb(127, 124, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 0.35vw solid rgb(208, 144, 25)
}

.overlay1 h1, .overlay2 h1, .overlay3 h1{
    text-align: center;
    margin: 0vh 0 0 0;
    padding: 0;
    font-size: 1.2rem;
}


.overlay1 span, .overlay2 span, .overlay3 span{
    text-align: center;
    font-size: 1.1rem;
    margin: 5vh 1.3vw 2vh 1.3vw
}

.img1:hover .overlay1, .img2:hover .overlay2, .img3:hover .overlay3{
    opacity: 1;
}


.badges{
    padding-top: 1.5vh;
    max-height: 5vh;
    max-width: 7.7vw;
}

