.mainDiv{
    height: 100vh;
    padding-top: 12vh;
    padding-right: 10px;
    padding-left: 10px;
}

.title{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    color: rgb(197, 149, 28);
}
.title h1, h3{
    margin: 7px;
}

.title h3{
    padding-bottom: 20px;
}

.projectsDiv{
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.projectsDiv img{
    height: 60vh;
    width: 60vh;
    position: relative;
}

.img1, .img2, .img3{
    position: relative;
}

.overlay1, .overlay2, .overlay3{
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    color: rgb(127, 124, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 2px solid rgb(208, 144, 25)
}

.overlay1 h1, .overlay2 h1, .overlay3 h1{
    margin: 60px 0 0 0;
    padding: 0;
    font-size: 18px;
}


.overlay1 span, .overlay2 span, .overlay3 span{
    font-size: 18px;
    margin: 40px 20px 20px 20px
}

.overlay1 a, .overlay2 a, .overlay3 a{
    font-size: 15px;
    margin-bottom: 10px;
}

.img1:hover .overlay1, .img2:hover .overlay2, .img3:hover .overlay3{
    opacity: 1;
}


.badges{
    padding-top: 7px;
    max-height: 40px;
    max-width: 100px;
}