body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("./assets/pexels-mitchel3uo-3742699.jpg");
  background-repeat: repeat;
  background-size: auto;
}

a{
  text-decoration: none;
}